<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>查找错误</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div th:replace="index::topbar"></div>
<div class="jumbotron">
    <div class="container">
        <h1>查找错误!</h1>
        <p>无法找到您输入的ID账号，请重新输入...</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回</a></p>
    </div>
</div>

</body>
</html>